/* Default light mode */
:root {
  --background-color: white;
  --text-color: #333;
}

/* Automatically detect dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: white;
  }
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 120vh;
  text-align: center;
}

.App.light-mode {
  background-color: #f0e9d8;
  color: #12101e;
}

.App.dark-mode {
  background-color: #12101e;
  color: #fffaef;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  flex-wrap: wrap;
  top: 0;
  background-color: #fffaef;
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #15152c;
  padding: 16px;
  a:hover {
    color: #000000;
  }
}

.header.dark-mode {
  background-color: #15152c;
  color: #fffaef;
  a:hover {
    color: #c6e6bd;
  }
}

.header-content-right {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  a {
    margin-inline-end: 1.5rem;
  }

  a:last-child {
    margin-inline-end: 0rem;
  }
}

.footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  background-color: #fffaef;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #15152c;
  padding: 16px;
  a {
    color: #15152c;
  }
}

.footer span {
  margin: 0 0.5rem; /* Add space on the left and right of each span */
}

.footer.dark-mode {
  background-color: #15152c;
  color: #f0e9d8;
  a {
    color: #f0e9d8;
  }
  a:hover {
    color: #c6e6bd;
  }
}

.link {
  color: #15152c;
  text-decoration: none;
}

.dark-mode .link {
  color: #fffaef;
}

.search {
  padding: 1rem;
}

.loading {
  font-family: "Mochiy Pop One", sans-serif;
  align-items: center;
}

.card {
  background-color: #fffaef;
  display: flex;
  margin: 1.5rem;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  align-self: center;
  padding: 1rem;
}

.card.dark-mode {
  background-color: #15152c;
  color: #fffaef;
}

.result {
  flex-direction: column;
  max-width: 80%;
  text-align: left;
  padding-left: 1rem;
}

.result ul {
  text-align: left;
  list-style-type: none;
  padding-left: 1rem;
}

.result li {
  margin: 5px 0;
}

.result-title {
  display: flex;
  justify-content: left;
  text-align: left;
  font-weight: bold;
}

.button {
  position: fixed;
  z-index: 1000;
  bottom: 1rem;
  right: 1rem;
  justify-content: right;
}

.button-sort {
  position: fixed;
  z-index: 1000;
  top: 4.5rem;
  right: 1rem;
  justify-content: right;
}

h2 {
  font-family: "Mochiy Pop One", sans-serif;
  text-align: left;
  padding: 0.8rem;
  margin: 0px auto;
}

.grid-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.grid-item {
  background-color: #fffaef;
  color: #15152c;
  padding: 0.6rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 6rem;
  font-family: "Mochiy Pop One", sans-serif;
  max-width: 8rem;
  cursor: pointer;
}

.grid-item.meaning {
  font-family: "Inter", sans-serif;
  font-size: 8px;
}

.grid-item.dark-mode {
  background-color: #15152c;
  color: #fffaef;
}

.grid-item.dark-mode:hover {
  color: #c6e6bd;
}

.kanjiDetail {
  text-align: left;
  font-size: 4rem;
  font-family: "Mochiy Pop One", sans-serif;
  padding-left: 1rem;
}